# Introduction of Python and IDE

1. About IDE
2. Basics of Python

### 1. About IDE

It is a Integrated Development Environment - It helps to programmers to control and etc    
gqwyhujfxgkhclnmkgfjdbhsgwsdkl;m. '
swhbdc kl;,mnlgkfmdjbshgaqvfsdcbhnj
bshxmlb,n ;.lg,fkdmsbahGVFHBKLN,;

### 2. Basics of Python

In [1]:
3+4 # Addition

7

In [2]:
4*5 # Product

20

In [3]:
3/4

0.75

In [4]:
20-45*(6/3) # BODMAS

-70.0

## Naming an object

1. Python is a case senitive language
2. Object can hold only Character, number and _
3. Object can be of any suitable length
4. Object can not start with Number
5. Dont use reserved keywords as a object name

In [5]:
Note1=10

In [6]:
note1=20

In [7]:
note1

20

In [8]:
Note1

10

In [9]:
Class_1=10

In [10]:
Class$2=10

SyntaxError: invalid syntax (<ipython-input-10-2bb4fac9902c>, line 1)

In [11]:
2_hg=10

SyntaxError: invalid decimal literal (<ipython-input-11-5727c8c6c268>, line 1)

In [12]:
_dh=10

In [13]:
sum([2,4])

6

In [14]:
sum=100

In [15]:
sum([2,6])

TypeError: 'int' object is not callable

In [16]:
sum

100

#### Operators and Operands

In [17]:
# Operands
x=10
y=12

In [18]:
# Operators 
#+ Addition
#^ XOR
#* Product
# ** Exponent/ to the power ( 2**4 - 2 to the power 4)#
#~

# Operators in Python

1. Arithmatic Ops
2. Comparision ops
3. Logical Ops
4. Bitwise Ops
5. Assignment Ops
6. Special Ops - Membership ops , Identity Ops

 1. Arithmatic Ops ( +, -, *, '**' , / , //, %, )

In [19]:
x=10
y=14

In [20]:
x+y

24

In [21]:
x-y

-4

In [22]:
x*y

140

In [23]:
x**2

100

In [24]:
4**4

256

In [25]:
3**2

9

In [26]:
# SPTM ( S- Spouse)

In [27]:
14/8  # Float division

1.75

In [28]:
14//8  # Quatient Division/ Floor Division

1

In [29]:
17//7

2

In [30]:
14//15

0

In [31]:
14%8 # Moduls / Remainder Division

6

In [32]:
14%15

14

In [33]:
print("Hello World")

Hello World

In [34]:
x=5

In [35]:
print("Square of x is :",x**2)

Square of x is : 25

In [36]:
x=11

In [37]:
x=10
print("Square of x is :",x**2)  # Square of 4 is : 16

Square of x is : 100

In [38]:
x=199
print("Square of",x,"is :",x**2)

Square of 199 is : 39601

In [39]:
x=10
print("Square of", x, "is :", x**2)

Square of 10 is : 100

In [40]:
x=5
print("Self product of ", x, "is :", x*x)

Self product of  5 is : 25

In [41]:
x=5
print("Square of {} is : {}".format(x, x**2)) # Place holder

Square of 5 is : 25

In [42]:
4**3

64

#### Relational / Comaparison op

In [43]:
#>, <, >=, <=, !=, ==  #( = is used for assignment  and == is used for equality)

In [44]:
x=10
y=12

In [45]:
x>y

False

In [46]:
x<y

True

In [47]:
45>=45

True

In [48]:
42==42  # Equality

True

In [49]:
42 !=42

False

### Logical Ops

In [50]:
# and , or , not

In [51]:
(4>5)

False

In [52]:
(5<6)

True

In [53]:
(4>5) and (5<6)

False

In [54]:
(5>6) or (4<8)

True

In [55]:
not (5>6)

True

### Assignment Ops

In [56]:
x=10

In [57]:
x

10

In [58]:
# 12=y

In [59]:
x=20

In [60]:
x

20

In [61]:
x=x+30  # New_x=old_x+30

In [62]:
x

50

In [63]:
y=50

In [64]:
y+=20  # y=y+20 # Add 20 to y and update y 
y

70

In [65]:
sd=100
# sd=sd+20
sd+=20
sd

120

In [66]:
gh=20
gh-=5
gh

15

In [67]:
df=45
df/=5
df

9.0

In [68]:
# +=, -=, /=, *=, **=, %=, //=,

### Bitwise Operators

In [69]:
# & ( Bitwise AND), |( BITWISE OR), ~( BITWISE NOT), ^( BITWISE XOR), >>( BITWISE right Shit), <<(BITWISE Left Shift)

In [70]:
x=10
y=12

In [71]:
x & y

8

In [72]:
# First it converted Decimal to bimary 
# Then Applied & Ops on those binary numbers and we got a result in Binary
# It converted resulted binary to Decimal

In [73]:
bin(x)

'0b1010'

In [74]:
bin(y)

'0b1100'

In [75]:
10 & 12

8

In [76]:
10 | 12

14

In [77]:
~ 10 # Binary -> not ops -> binary results -> Binary to Decimal

-11

In [78]:
x ^ y  # Exclusive OR

6

In [79]:
x=10

In [80]:
x>>1  # Right shit

5

In [81]:
bin(x)

'0b1010'

In [82]:
bin(5)

'0b101'

In [83]:
# 1010  - 101

In [84]:
10>>2

2

In [85]:
bin(2)

'0b10'

In [86]:
10<<1 # Left shift

20

In [87]:
# 000001010 ->10100

In [88]:
bin(20)

'0b10100'

### Special Ops - Membership ( In , not in)

In [89]:
x=[1,3,4,8,10,23]

In [90]:
4 in x # True or Fasse

True

In [91]:
4 not in x

False

### Special Ops - Identity Ops ( is , is not)

In [ ]:
"Hello" is "Hello"

In [ ]:
4 is not 5

In [ ]:
4==4

In [ ]:
4 is 4

In [ ]:
x=10
y=10
x is y

In [ ]:
x==y

In [ ]:
#? is , == diff

In [ ]:
x=10
y=10
x==y

In [ ]:
x is y

### Data Types

In [ ]:
# Data types( What is stored ) , Data Structure ( How it is stored )

In [ ]:
#Text Type : str
# Numerical Type : int, float, complex
# Sequence Type : list, tuple, range
# Mapping Type : dict
# set : set, frozenset
# Boolen type : bool
# Binary Type : bytes, bytearray

### Numerical

In [ ]:
x=10

In [ ]:
type(x)

In [ ]:
y=10.45678
type(y)

In [ ]:
z=10+45j   # 10( Real Number) +45*sqrt(-1) ( Imaginary Number)
type(z)

### List

In [ ]:
list1=[2,5,7,8,9,10,45,100]

In [ ]:
type(list1)

In [ ]:
list1

In [ ]:
list2=["Hello", "Python"]
list2

In [ ]:
type(list2)

In [ ]:
list3=[2,4,5,"hello"]
type(list3)

In [ ]:
list3

In [ ]:
list3

In [ ]:
len(list3)  # It gives the count of elements

In [ ]:
len(list1)

In [ ]:
max(list1)

In [ ]:
min(list1)

In [ ]:
# min(list3)

In [ ]:
list4=[100,200,300, list2]

In [ ]:
list4

In [ ]:
list5=[True, False]

#### List : indexing & Slicing

In [ ]:
Var1=[10, 20, 40,21, 67, 21, 67]

In [ ]:
# List is a collection of elements . List elements are ordered , changeable and allow duplicate values

In [ ]:
Var1[0]

In [ ]:
Var1[2]

In [ ]:
Var1=[10, 20, 40,21, 67, 21, 67]
Var1[-1]

In [ ]:
Var1=[10, 20, 40,21, 67, 21, 67]
Var1[3:]

In [ ]:
Var1=[10, 20, 40,21, 67, 21, 67]
Var1[:5]

In [ ]:
Var1=[10, 20, 40,21, 67, 21, 67]
Var1[2:4]

#### Operations on List

In [ ]:
var2=[10,20,50,90,100,30,60,70]

In [ ]:
var2.pop()  # It Removes last element ( By default) and print that deleted item or 
            #It will remove the element of which you have given a index

In [ ]:
var2

In [ ]:
var2.pop(3)

In [ ]:
var2

In [ ]:
?var2.remove

In [ ]:
help(var2.remove)

In [ ]:
var2.remove(20)  # It removes the given element from first occurance  but does not print the value

In [ ]:
var3=[10,11,10,34,78,34,34,67,89,100,10]

In [ ]:
var3.remove(10)

In [ ]:
var3

In [ ]:
var3.index(78)  # it gives the index of the element form first occurance ( by Default)

In [ ]:
var3.index(10)

In [ ]:
var3.index(10, 5)  # list.index(element, start, end)

In [ ]:
var3.reverse() # It just flip the value in list [2,6,8] -> [8,6,2]

In [ ]:
var3

In [ ]:
var3.sort() # it sort the list in ascending order ( by default ) list.sort(reverse=False)

In [ ]:
var3

In [ ]:
var3.sort(reverse=True) # Descending order

In [ ]:
var3

In [ ]:
var3.count(10)  # It gives the freq or count of a element from the list

In [ ]:
var3.count(34)

In [ ]:
var3

In [ ]:
var3.append(999) # It add an element at the end of the list ,
                 #You can append one element at a time
                 # Appended element will be added at the end

In [ ]:
var3

In [ ]:
var3.append(999)
var3

In [ ]:
var3.append(999000)
var3

In [ ]:
var3.extend([1000, 2000, 3000]) # It appends a list at the end of a original list

In [ ]:
var3

In [ ]:
var3.extend(var2)

In [ ]:
var3

In [ ]:
var4=[2,4,6]
var4.extend([10,20,30])

In [ ]:
var4

In [ ]:
var5=[2,6,8]
var6=[100,200,300]
var7=[1000,2000,3000,4000]
# var5.extend([var6, var7])

In [ ]:
var5

In [ ]:
# var5.extend(var6,var7)

In [ ]:
var5

In [ ]:
# var5.append(567890)

In [ ]:
var4

In [ ]:
var4.insert(2, 1000) # It insert a given element to the specified place/ index # list.inser(index, value)

In [ ]:
var4

In [ ]:
var8=[1,4,5,4,5,6,5,8,10]

In [ ]:
var8.index(5)

In [ ]:
var8.index(5,3)

In [ ]:
var9=var8

In [ ]:
var9

In [ ]:
var8

In [ ]:
var8.pop() # It is removing last element

In [ ]:
var8

In [ ]:
var9

In [ ]:
var9.append(100000)

In [ ]:
var9

In [ ]:
var8

In [ ]:
var10=var8.copy()

In [ ]:
var8.pop()

In [ ]:
var8

In [ ]:
var10

In [ ]:
var8.clear() # it removes all the elements from the list and blank list is left

In [ ]:
var8

In [ ]:
var3.clear()

In [ ]:
var3

In [ ]:
del var4

In [ ]:
var4

In [ ]:
list1=[2,5,6,7,10]

In [ ]:
list2=list1

In [ ]:
list2.append(1000)

In [ ]:
list2

In [ ]:
list1

In [ ]:
list3=list1.copy()

In [ ]:
list3.pop()

In [ ]:
list3

In [ ]:
list1

In [ ]:
fg=[6,5,53]

In [ ]:
list5=list([2,4,6])
list6=list((3,6,8,9))

## String

In [ ]:
st1="Hello Python"

In [ ]:
type(st1)

In [ ]:
st2='Hello auntie'# you can write a string in ' ' or " "

In [ ]:
st3='hello Rawn, How's your father'

In [ ]:
st4="hello Rawn, How's your father"

In [ ]:
st5="""hello Rawn, How's your father
 My son is ok now , he had some medical issue"""

In [ ]:
st6="""bhjerfvogbjvkin
mewjk vxjnjj
bhjjkkkk


jjjjj

Endidn dllsn
"""

In [ ]:
st5

In [ ]:
st7=" Rawn : Hello Sir , How's you son? 
John : My son is ok now ."

In [ ]:
st7

In [ ]:
st7="Rawn : Hello Sir , How's you son?\nJohn : My son is ok now ."

In [ ]:
print(st7)

In [ ]:
str5= """Hey
how are you
I am fine"""

In [ ]:
print(str5)

In [ ]:
str6= "Hey\nhow are you\nI am fine"

In [ ]:
print(str6)

In [ ]:
str6

In [ ]:
str5

In [ ]:
st9="Hello Julie!, Can we meet @ coffee shop or you can send me an email  @ python.anaconda@gmail.com"

### String : Indexing and Slicing

In [ ]:
st9[0]

In [ ]:
st9[5]

In [ ]:
st9[0:5] # first is included but last is excluded

In [ ]:
st9[-1]

In [ ]:
len(st9)

In [ ]:
st111="Hello Py"
len(st111)

In [ ]:
st9="Hello Julie!, Can we meet @ coffee shop or you can send me an email  @ python.anaconda@gmail.com"

In [ ]:
st9.lower() # It brings down all the text into lower

In [ ]:
st9.capitalize() # It brings all the text inton lower except first one.

In [ ]:
st9.upper()

In [ ]:
st9

In [ ]:
st9.count("@") # freq of the text in the string

In [ ]:
st9.count("2")

In [ ]:
st9.find("@") # index of the text of word

In [ ]:
st9.find("@", st9.find("@")+1) # string.find("text", startpoint, endpoint)

In [ ]:
?st9.find

In [ ]:
st9.find("@", 70)

In [ ]:
st9.isalnum() # If any function has "is" at its intial. it means it is asking a question and its answer is Ture or fals only

In [ ]:
?st9.islower

In [ ]:
st10="hello"
st10.islower()

In [ ]:
st9.startswith("Hello") # Is this string start with "H"

In [ ]:
st9[-1]

In [ ]:
st9.endswith("m")

In [ ]:
st9

In [ ]:
st11="Hello Julie!, Can we meet @ coffee shop"

In [ ]:
st11.split(" ") # Space based split

In [ ]:
st11.split("e")

In [ ]:
st12="     Hello Bro!,          Please     come to my home                "

In [ ]:
st12.lstrip()

In [ ]:
st12.rstrip()

In [ ]:
st12.strip()

In [ ]:
A="Hello"
B="Python"  

" ".join([A,B])
# Hello-Python

In [ ]:
d=st12.strip().split("     ")
d

In [ ]:
st90=st9.lower()

In [ ]:
st90

###

### Set  {}

In [ ]:
#Set is a collection of unordered unique elements

In [ ]:
x=[2,5,1,8,1,2,2,10] #list

In [ ]:
x

In [ ]:
y={2,5,1,8,1,2,2,10}
y

In [ ]:
y[-1]  # it does not allow indexing, 'set' object is not subscriptable

In [ ]:
U={0,1,2,3,4,5,6,7,8,9}
A={2,4,6,8,10}
B={1,3,5,7,9}
E={2,4,7,10,40,1}

In [ ]:
#union, intersection, etc

In [ ]:
A.union(E) # all uniqu elements of A nd E

In [ ]:

U={0,1,2,3,4,5,6,7,8,9}
A={2,4,6,8,10}
B={1,3,5,7,9}
E={2,4,7,10,40,1}


A.intersection(E)

In [ ]:
A.issubset(E)

In [ ]:
B.issubset(U)

In [ ]:

U={0,1,2,3,4,5,6,7,8,9}
A={2,4,6,8,10}
B={1,3,5,7,9}
E={2,4,7,10,40,1}

B.issuperset(E)

In [ ]:
U={0,1,2,3,4,5,6,7,8,9}
A={2,4,6,8,10}
B={1,3,5,7,9}
E={2,4,7,10,40,1}

B.isdisjoint(B)  # no common element - True

In [ ]:
U={0,1,2,3,4,5,6,7,8,9}
A={2,4,6,8,10}
B={1,3,5,7,9}
E={2,4,7,10,40,1}

E.difference(B)

In [ ]:
U={0,1,2,3,4,5,6,7,8,9}
A={2,4,6,8,10}
B={1,3,5,7,9}
E={2,4,7,10,40,1}

E.symmetric_difference(B)  # elements from both the sets which are not in common # E.union(B)- E.intersection(B)

In [ ]:
f=A.intersection(E)

In [ ]:
f

In [ ]:
A.intersection_update(E)  # We will get intersection of A & E . then A will be updated this this intersection

In [ ]:
A

In [ ]:
E.difference_update(B)

In [ ]:
E

###

In [ ]:
# Adding new element

In [ ]:
E.add(1000)
E

In [ ]:
E.add((1876,3456))

In [ ]:
E

###

In [ ]:
G={3.5,6.9}
G

In [ ]:
G={"hello", "Pytho"}
G

In [ ]:
E.remove(10)

In [ ]:
E

In [ ]:
E.discard((1876,3456))

In [ ]:
E

In [ ]:
E.pop()  #

In [ ]:
E

In [ ]:
U.discard(2)

In [ ]:
U

### Tuple ()

In [ ]:
tup1=(2,4,6,7,8,1,0)

In [ ]:
tup1

In [ ]:
type(tup1)

In [ ]:
tup2=10,40,50

In [ ]:
tup2

In [ ]:
tup2[0]  # indexing is possibe

In [ ]:
tup2[0]=100

In [ ]:
list1=[10,30,50]

In [ ]:
list1[0]=100

In [ ]:
list1

In [ ]:
list2=[]
list2

In [ ]:
list2=[]
for i in range(1,10):
    j=i**2 # Square
    list2.append(j)

In [ ]:
list2

### Dictionary {}

In [ ]:
# It is a collection of unordered data values with keys. It has a key:value concept

In [ ]:
dict1={"Name":{"Vivek", "Vivek", "Gurvita", "Iti", "Deepak", 10}, 
 "Income":[10, 12,21,10], "city":"Gurgaon",
      1:4}

In [ ]:
dict1

In [ ]:
dict2=dict()

In [ ]:
dict2

In [ ]:
dict2["Age"]=10

In [ ]:
dict2

In [ ]:
dict2["city"]="Delhi" ,"Noida"

In [ ]:
dict2

#### Extracting Elements from dict

In [ ]:
dict1

In [ ]:
dict1["Name"]

In [ ]:
dict1.get("Name")

In [ ]:
dict1.get("Name")[0]

In [ ]:
dict1.get("city")[1]

In [ ]:
dict1.items()  # it gives tuples of key and value combination

In [ ]:
dict1.pop(1)

In [ ]:
dict1.popitem()

In [ ]:
del dict1["Income"]

In [ ]:
dict1

In [ ]:
dict1.pop("Name")

In [ ]:
dict1

In [ ]:
dict1

In [ ]:
dict1.pop(1)

In [ ]:
dict1.pop("Income")

In [ ]:
dict1