<a href="https://colab.research.google.com/github/viveksaksena/Python-Codes/blob/master/PandasTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
a =10

In [0]:
print(id(a))

10914784

In [0]:
import numpy as np
import pandas as pd

In [0]:
s = pd.Series()
print(type(s))

<class 'pandas.core.series.Series'>

**Above example of hwo to create series **

In [0]:
d  = np.array([10,11,12,13])
sr = pd.Series(d)

In [0]:
print(sr)

0    10
1    11
2    12
3    13
dtype: int64

In [0]:
s = pd.Series(d,index= ['rw1','rw2','rw3','rw4'])
print(s)

rw1    10
rw2    11
rw3    12
rw4    13
dtype: int64

In [0]:
s[1]

11

In [0]:
d = s[1:4]

In [0]:
d

rw2    11
rw3    12
rw4    13
dtype: int64

In [0]:
s
s[:3:2]

rw1    10
rw3    12
dtype: int64

In [0]:
l = [10,12,13,14]
df  = pd.DataFrame(l)

In [0]:
print(df)

    0
0  10
1  12
2  13
3  14

In [0]:
df  = pd.DataFrame(l,index=['rw1','rw2','rw3','rw4'],columns=['one'])
print(df)

     one
rw1   10
rw2   12
rw3   13
rw4   14

In [0]:
ar = np.array([[10,11,12,13,14],[21,65,78,45,69]])

In [0]:
ar

array([[10, 11, 12, 13, 14],
       [21, 65, 78, 45, 69]])

In [0]:
ar.shape=(5,2)

In [0]:
ar

array([[10, 11],
       [12, 13],
       [14, 21],
       [65, 78],
       [45, 69]])

In [0]:
df1 = pd.DataFrame(ar)

In [0]:
df1

    0   1
0  10  11
1  12  13
2  14  21
3  65  78
4  45  69

In [0]:
df1 = pd.DataFrame(ar,index=['RW1','RW2','RW3','RW4','RW5'],columns=['CL1','CL2'])

In [0]:
df1

     CL1  CL2
RW1   10   11
RW2   12   13
RW3   14   21
RW4   65   78
RW5   45   69

In [0]:
print(df1)

     CL1  CL2
RW1   10   11
RW2   12   13
RW3   14   21
RW4   65   78
RW5   45   69

## Create a dataframe from dictionary

In [0]:
a = {}

In [0]:
x = dict()

In [0]:
print(type(x))

<class 'dict'>

In [0]:
a = [10,12,13,140]

In [0]:
b = tuple(a)

In [0]:
print(type(b))

<class 'tuple'>

In [0]:
c = list(b)

In [0]:
c

[10, 12, 13, 140]

In [0]:
a =10 
b = 10
print(id(a))
print(id(b))

10914784
10914784

In [0]:
x = 300
y = 300
print(id(x))
print(id(y))

139991017112912
139991017113712

In [0]:
i = 30
j = 30
print(id(i))
print(id(j))

10915424
10915424

In [0]:
t =(2)
print(type(t))

<class 'int'>

In [0]:
tuple(t)

TypeError: ignored

In [0]:
t = (2,)

In [0]:
print(type(t))

<class 'tuple'>

In [0]:
i = 2,3,4,5,6
print(type(i))

<class 'tuple'>

In [0]:
di = {'name':['Hero','Zero'],'class':[7,8]}

In [0]:
import pandas as pd
df = pd.DataFrame(di,index=['z','o'])

In [0]:
df

   name  class
z  Hero      7
o  Zero      8

In [0]:

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [0]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [0]:
df['two']

a    1
b    2
c    3
d    4
Name: two, dtype: int64

In [0]:
for i in df:
  print(df[i])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
a    1
b    2
c    3
d    4
Name: two, dtype: int64